<%- include('../layouts/adminHeader') -%>

<aside class="side-bar mt-4 " id="aside-menu">
    <button class="side-menu border-0 m-1" id="menu-btn" onclick="asideShow()"><span class="material-symbols-outlined">menu</span></button>   
    <div class="menu-items m-1 pt-2" id="menu-page">      
        <a href="/admin/dashboard" class="text-black text-decoration-none"><button id="admn-btns" class="admn-btn-A mb-2 w-100 text-start "><i class="bi bi-box2-fill ms-3"></i> Dashboard</button></a>
        <a href="/admin/users" class="text-black text-decoration-none"><button class="admn-btn mb-2 w-100 text-start "><i class="bi bi-people-fill ms-3"></i> Customers</button></a>
        <a href="/admin/productManage" class="text-black text-decoration-none"><button class="admn-btn mb-2 w-100 text-start "><i class="bi bi-archive-fill ms-3"></i> Products</button></a>
        <a href="/admin/allOrders" class="text-black text-decoration-none"><button class="admn-btn mb-2 w-100 text-start "><i class="bi bi-file-earmark-fill ms-3"></i> Orders</button></a>
        <a href="/admin/categoryManage" class="text-black text-decoration-none"><button class="admn-btn mb-2 w-100 text-start "><i class="bi bi-diagram-2-fill ms-3"></i> Category</button></a>
        <a href="" class="text-black text-decoration-none"><button class="admn-btn mb-2 w-100 text-start "><i class="bi bi-card-image ms-3"></i> Banners</button></a>
        <a href="/admin/couponManage" class="text-black text-decoration-none"><button class="admn-btn mb-2 w-100 text-start "><i class="bi bi-star-fill ms-3"></i> coupons</button></a>
        <a href="/admin/salesReport" class="text-black text-decoration-none"><button class="admn-btn mb-2 w-100 text-start "><i class="bi bi-clipboard-data-fill ms-3"></i> Sales Report</button></a>
    </div>
    <div class="adm-lgout m-1" id="l-out-btn">
        <a class="text-black text-decoration-none" href="/admin/adminLogout"><button class="admn-btn w-100 text-start "><i class="bi bi-box-arrow-right ms-3"></i> Logout</button></a>
    </div>
</aside>

<%- include('../layouts/footer') -%>