<%- include('../layouts/adminHeader') -%>

<aside class="side-bar ">
    <div class="m-1 ">      
        <a href="/admin/dashboard" class="text-black text-decoration-none"><button class="admn-btn mb-2 w-100">Dashboard</button></a>
        <a href="" class="text-black text-decoration-none"><button class="admn-btn mb-2 w-100">Customers</button></a>
        <a href="/admin/productManage" class="text-black text-decoration-none"><button class="admn-btn-A mb-2 w-100">Products</button></a>
        <a href="" class="text-black text-decoration-none"><button class="admn-btn mb-2 w-100">Orders</button></a>
        <a href="" class="text-black text-decoration-none"><button class="admn-btn mb-2 w-100">Category</button></a>
        <a href="" class="text-black text-decoration-none"><button class="admn-btn mb-2 w-100">Banners</button></a>
        <a href="" class="text-black text-decoration-none"><button class="admn-btn mb-2 w-100">coupons</button></a>
        <a href="" class="text-black text-decoration-none"><button class="admn-btn mb-2 w-100">Sales Report</button></a>
    </div>
    <div class="adm-lgout m-1">
        <button class="admn-btn w-100"><a class="text-black text-decoration-none" href="">Logout</a></button>
    </div>
</aside>


<%- include('../layouts/footer') -%>