body {
    padding-top: 62px;
    background-color: #f9f9f9 !important;
}
.bg-clr {
    padding-top: 10px;
    padding-bottom: 50px
}

.navbar {
    background-color: #9DBC98;
}

.src-bar {
    border: 0;
    border-radius: 5px;
    outline: none;
    padding-left: 15px;
    width: 30vw;
}

.log-drop {
    padding: 0;
    background-color: #ffffff;
    border-radius: 5px;
    position: absolute;
    display: none;
    list-style: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 10rem;
}

.drop-item {
    align-items: start;
    text-decoration: none;
    color: black;
}

.drop-item:hover {
    color: #9DBC98;
}

.nav-drop:hover {
    background-color: #ff839a;
}

.nav-drop:hover .log-drop {
    display: block;
    background-color: #ffffff;
}

.nav-hov:hover {
    background-color: #ff839a;
}

.nav2-hov:hover {
    background-color: #ff839a;
}

.form-inp {
    width: 100%;
    border: none;
    border-bottom: 1px solid #F91F46;
    outline: none;
    margin-top: 20px;
}

.log-btn {
    background-color: #F91F46;
    border-radius: 10px;
    border: none;
}

.dis-part1 {
    background-color: #F91F46;
    border-radius: 45px;
}

.log-box-ful {
    border-radius: 45px;
    box-shadow: 0 4px 6px 0 #68686833, 0 6px 18px 0 #68686833;
}

.crtn-img {
    border-radius: 40px;
}

.color-l {
    color: #F91F46;
}

.btn-color {
    background-color: #ff6090;
}

/* Admin managements */
.admn-btn-A {
    background-color: #000000;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    height: 30px;
    padding-left: 48px;
}
.admn-btn {
    background-color: #ff6090;
    border: none;
    border-radius: 10px;
    color: black;
    height: 30px;
    padding-left: 48px;
}
#menu-page{
    display: block;
}
.side-bar {
    width: 18rem;
    height: 85vh;
    border-right: 1px solid #b9b9b9;
    position: relative;
}
.adm-lgout{
    padding-top: 15px;
    bottom: 10px;
    position: absolute;
    width: 97%;
    border-top: 1px solid #b9b9b9;
    display: block;
}
.side-menu{
    display: none;
    width: 40px;
    height: 30px;
    background-color: #d9d8d8;
}





@media (max-width: 950px){
    .side-menu {
        display: block;
        width: 40px;
        height: 30px;
        background-color: #d9d8d8;
    }
    #menu-page {
        display: none;
    }
    .adm-lgout {
       display: none;
    }
    .side-bar {
        width: fit-content;
        height: 85vh;
        border-right: 1px solid #b9b9b9;
    }
    .admn-btn {
        padding-left: 8px;
    }
    .admn-btn-A {
        padding-left: 8px;
    }
}