body {
    padding-top: 62px;
    background-color: #f9f9f9 !important;
}
.bg-clr {
    padding-top: 10px;
    padding-bottom: 50px
}

.navbar {
    background-color: #9DBC98;
}

.src-bar {
    border: 0;
    border-radius: 5px;
    outline: none;
    padding-left: 15px;
    width: 30vw;
}

.nav-hov:hover {
    background-color: #9DBC98;
}

.form-inp {
    width: 100%;
    border: none;
    border-bottom: 1px solid #9DBC98;
    outline: none;
    margin-top: 20px;
}

.log-btn {
    background-color: #9DBC98;
    border-radius: 10px;
    border: none;
}

.dis-part1 {
    background-color: #9DBC98;
    border-radius: 45px;
}

.log-box-ful {
    border-radius: 45px;
    box-shadow: 0 4px 6px 0 #68686833, 0 6px 18px 0 #68686833;
}

.crtn-img {
    border-radius: 40px;
}

.color-l {
    color: #9DBC98;
}

.color {
    background-color: #c2ffb8;
}

/* Admin managements */
.admn-btn-A {
    background-color: #000000;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    height: 30px;
    padding-left: 48px;
}
.admn-btn {
    background-color: #9DBC98;
    border: none;
    border-radius: 10px;
    color: black;
    height: 30px;
    padding-left: 48px;
}
#menu-page{
    display: block;
}
.side-bar {
    width: 18rem;
    height: 85vh;
    border-right: 1px solid #b9b9b9;
    border-bottom: 1px solid #b9b9b9;
    position: relative;
}
.adm-lgout{
    padding-top: 15px;
    bottom: 10px;
    position: absolute;
    width: 97%;
    border-top: 1px solid #b9b9b9;
    display: block;
}
.side-menu{
    display: none;
    width: 40px;
    height: 30px;
    background-color: #d9d8d8;
}
.ctgry{
    background-color: #d1e7dd; 
    border-radius: 10px;
}
.product-image {
    max-width: 50px;
    max-height: 50px;
}
.chart-container {
    width: 80%;
    margin: auto;
}





@media (max-width: 950px){
    .side-menu {
        display: block;
        width: 40px;
        height: 30px;
        background-color: #d9d8d8;
    }
    #menu-page {
        display: none;
    }
    .adm-lgout {
       display: none;
    }
    .side-bar {
        width: fit-content;
        height: 85vh;
        border-right: 1px solid #b9b9b9;
    }
    .admn-btn {
        padding-left: 8px;
    }
    .admn-btn-A {
        padding-left: 8px;
    }
}