body{
  padding-top: 105px;  
  background-color: #f9f9f9 !important;
}
.bg-clr{
    padding-top: 10px;  
    padding-bottom: 50px
}
.navbar{
    background-color: #9DBC98;
}
.nav-link{
    color: black !important;
}
.src-bar{
    border: 0;
    border-radius: 5px;
    outline: none;
    padding-left: 15px;
    width: 30vw; 
}
.sub-nav{
    margin-top: 66px;
    /* box-shadow: 0px -15px 6px 0 #97979733, 0 6px 18px 0 #c4c4c433; */
}
.log-drop{
    padding: 0;
    background-color: #ffffff;
    border-radius: 5px;
    position: absolute;
    display: none;
    list-style: none;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
    width: 10rem;
}
.drop-item{
    align-items: start;
    text-decoration: none;
    color: black; 
}
.drop-item:hover{
    color: #7ed371;
}
.nav-drop:hover{
    background-color: #7ed371;
}
.nav-drop:hover .log-drop{
    display: block;
    background-color: #ffffff;   
}
.nav-hov:hover{
    background-color: #7ed371;
}
.nav2-hov:hover{
    background-color: #7ed371;
}
.form-inp{
    width: 100%;
    border: none;
    border-bottom: 1px solid #9DBC98;
    outline: none;
    margin-top: 20px;
}
.log-btn{
    background-color: #9DBC98;
    border-radius: 10px;
    border: none;
}
.dis-part1{
    background-color: #9DBC98;
    border-radius: 45px;
}
.log-box-ful{
    border-radius: 45px;
    box-shadow: 0 4px 6px 0 #68686833, 0 6px 18px 0 #68686833;
}
.crtn-img{
    border-radius: 40px;  
}
.color-l{
    color: #F91F46;
}
.main-color{
    background-color: #ff839a;
}
.resend-btn{
    border: none;
    background: none;
}
.side-menu{
    height: 55px;
}
.side-menu:hover {
    background-color: #ddfdda !important;
}
.side-menu-btn{
    display: none;
    width: 40px;
    height: 30px;
    background-color: #d9d8d8;
}
.aside-bar{
    width: 22rem;
    height: fit-content;
}
.menu-cotnt{
    display: block;
}
.product-image {
    max-width: 115px;
    max-height: 115px;
}







@media (max-width: 800px){
    .side-menu-btn{
        display: block;
        width: 40px;
        height: 30px;
        background-color: #d9d8d8;
    }
    .menu-cotnt{
        display: none;
    }
    .aside-bar{
        width: fit-content;
    }
    
}