<%- include('../layouts/header') -%>


 <!--------------------------- section of body --------------------------->
 <section class="bg-clr text-white d-flex align-items-center">
    <div class="container mt-3  d-flex justify-content-center">
        <div class="log-box-ful row bg-white text-black">
            <div class="dis-part1 col-md-4 pt-5 pb-2">
                <h2 class="fw-bold mb-3">OTP</h2>
                <p>Check your email, Please enter your OTP</p>
                <img class="crtn-img img-fluid mx-auto" src="img/cartoon.png">
            </div>
            <div class="col-md-8 my-auto text-center">
                <% if(locals.mes){ %>
                    <p class="text-primary"><%= mes %></p>
                <% } %> 
                <form class="mb-3" method="post">
                    <input class="form-inp" type="number" name="otp" placeholder="Enter your otp" required>
                    <button type="submit" class="log-btn w-100 mt-3 ">Verify</button>
                </form>
            </div>
        </div>
    </div>
</section>



<%- include('../layouts/footer') -%>