<%- include('../layouts/header') -%>

    <!--------------------------- section of body --------------------------->
    <section class="bg-clr text-white d-flex align-items-center">
        <div class="container mt-3  d-flex justify-content-center">
            <div class="log-box-ful row bg-white text-black">
                <div class="dis-part1 col-md-4 pt-5 pb-2">
                    <h5 class="fw-bold mb-3">Looks like new here!</h5>
                    <p>Sign up with your mobile number to get started</p>
                    <img class="crtn-img img-fluid mx-auto" src="img/cartoon.png">
                </div>
                <div class="col-md-8 pt-4 text-center">
                    <% if(locals.mes){ %>
                        <p class="text-center text-primary"><%= mes %></p>
                    <% } %> 
                    <form method="post">
                        <input class="form-inp" type="text" name="name" placeholder="Enter your name" required>
                        <br>
                        <input class="form-inp" type="number" name="m_number" placeholder="Enter mobile number" required>
                        <br>
                        <input class="form-inp" type="email" name="email" placeholder="Enter email" required>
                        <br>
                        <input class="form-inp" type="password" name="password" placeholder="Enter password" required>
                        <button type="submit" class="log-btn w-100 mt-sm-3 mt-5 ">Signup</button>
                    </form>
                    <small>Existing user?<a href="/login">Login</a></small>
                </div>
            </div>
        </div>
    </section>


<%- include('../layouts/footer') -%>